@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;600&family=Mulish&family=Orbitron&family=Poppins&family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 100%;
}
.container header {
  width: 100%;
}
.container header nav {
  width: 100%;
  height: 8rem;
  position: fixed;
  background: #232536;
  z-index: 10;
}
.container header nav .nav-item {
  height: 100%;
  width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container header nav .nav-item .nav-right ul {
  display: flex;
  gap: 3.2rem;
}
.container header nav .nav-item .nav-right ul li .nav-link {
  color: #ffd3af;
}
.container header nav .nav-item .nav-right ul li .nav-link:hover {
  color: #ffd3af;
  opacity: 1;
}
.container header nav .nav-item .nav-right ul li a {
  padding-top: 2.8rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.6;
  transition: all 0.25s;
}
.container header nav .nav-item .nav-right ul li a:hover {
  color: #ffffff;
  opacity: 1;
  border-top: 3px solid #ffa155;
}
.container header nav .nav-item .nav-right ul li a span {
  margin-left: 0.8rem;
}
.container .cta-section {
  max-width: 100%;
  height: 33.3rem;
}
.container .cta-section .cta-section_item {
  width: 130rem;
  height: 100%;
  background: #666dff;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.container .cta-section .cta-section_item .sharpen-left {
  position: absolute;
  left: 0;
  top: 0;
}
.container .cta-section .cta-section_item .sharpen-right {
  position: absolute;
  right: 0;
  top: 0;
}
.container .cta-section .cta-section_item .cta-left {
  width: 50%;
  padding-left: 9.6rem;
  padding-top: 9.6rem;
}
.container .cta-section .cta-section_item .cta-left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 1.3rem;
}
.container .cta-section .cta-section_item .cta-left h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #ffffff;
}
.container .cta-section .cta-section_item .cta-right {
  width: 50%;
  padding-right: 9.6rem;
  padding-left: 5rem;
  padding-top: 14.1rem;
}
.container .cta-section .cta-section_item .cta-right .cta-email {
  width: 45.4rem;
  height: 6.4rem;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  padding-left: 2.9rem;
}
.container footer {
  margin-top: 9.6rem;
  width: 100%;
  height: 42rem;
}
.container footer .footer-item {
  width: 130rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.container footer .footer-item .footer-item_left {
  width: 50%;
  height: 100%;
  position: relative;
}
.container footer .footer-item .footer-item_left img {
  position: absolute;
  left: 0;
  top: 0;
}
.container footer .footer-item .footer-item_left h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  margin-top: 5.5rem;
}
.container footer .footer-item .footer-item_left h3 {
  margin-top: 4rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232536;
  margin-bottom: 3rem;
}
.container footer .footer-item .footer-item_left ul li {
  margin-bottom: 0.5rem;
}
.container footer .footer-item .footer-item_left ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #232536;
}
.container footer .footer-item .footer-item_left ul li p {
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: 26.8rem;
}
.container footer .footer-item .footer-item_left ul li h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #232536;
  margin-top: 1.6rem;
}
.container footer .footer-item .footer-item_right {
  width: 50%;
  height: 100%;
  padding-top: 5.5rem;
  display: flex;
  gap: 6rem;
  padding-left: 10rem;
  position: relative;
}
.container footer .footer-item .footer-item_right ul li {
  margin-bottom: 1.2rem;
}
.container footer .footer-item .footer-item_right ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}
.container footer .footer-item .footer-item_right span {
  position: absolute;
  bottom: 8%;
  right: 0;
  align-items: center;
  display: flex;
  gap: 0.8rem;
}
.container footer .footer-item .footer-item_right span a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
}
.container .footer-bottom {
  max-width: 100%;
  height: 8rem;
  background: #ffe6d2;
}
.container .footer-bottom .footer-bottom_item {
  width: 130rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .footer-bottom .footer-bottom_item .footer-bottom-left {
  display: flex;
  align-items: center;
}
.container .footer-bottom .footer-bottom_item .footer-bottom-left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-left: 4rem;
}
.container .footer-bottom .footer-bottom_item .footer-bottom-right {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.rang {
  width: 24px;
  height: 24px;
  background-color: #ffd3af;
}

.figma h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8666666667);
}

.figma h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  width: 85%;
}

.figma p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(35, 37, 54, 0.6666666667);
  width: 85%;
}

.figma a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #444cfc;
  display: flex;
  gap: 20px;
}

.jonson h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(35, 37, 54, 0.7725490196);
}

.devorat {
  height: 15px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1098039216);
}

.jonson p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(35, 37, 54, 0.6156862745);
}

.jonson {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.tensat {
  background-image: url(../img/fonnnat.png);
  background-repeat: no-repeat;
  background-position: center right;
  width: 590px;
}

.tensat img {
  width: 95%;
  text-align: left;
}

.great h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232536;
  width: 75%;
}

.great p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(35, 37, 54, 0.6392156863);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.great {
  background-color: #ffdfc6;
  padding: 50px;
  background-image: url(../img/qirraat.svg);
  background-position: top right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}

.trending {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 60px 160px 100px;
}

.figma {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}

.officepar h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232536;
  width: 90%;
}

.officepar p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(35, 37, 54, 0.6470588235);
  display: flex;
  justify-content: start;
  align-items: center;
}

.officepar {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}

.digital {
  background-color: #f9f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.oramdigit {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 30px;
}

.postat h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  padding-left: 60px;
}

.postat {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 100px 0;
  gap: 60px;
}

.greatest h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #232536;
  padding-left: 15px;
  width: 85%;
}

.greatest p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(35, 37, 54, 0.6666666667);
  padding-left: 15px;
  width: 85%;
}

#jon {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(35, 37, 54, 0.768627451);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  gap: 15px;
}

.greatest {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

.clientat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 40px;
}

.allat h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #232536;
  padding-left: 70px;
}

.allat {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 100px 40px;
  gap: 70px;
}