

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
// body{
//     font-family: ;
// }
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    max-width: 100%;
    header{
        width: 100%;
        height: 10rem;
        // background: yellow;
        nav{
            width: 100%;
            height: 8rem;
            position: fixed;
            background: #232536;
            z-index: 10;
            .nav-item{
                height: 100%;
                width: 130rem;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .nav-right{
                    ul{
                        display: flex;
                        gap: 3.2rem;
                        li{
                            .nav-link{
                                color:#FFD3AF;
                                &:hover{
                                    color:#FFD3AF;
                                    opacity: 1;
                                }
                            }
                            a{  
                                padding-top: 2.8rem;
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                color: #FFFFFF; 
                                opacity: 0.6;
                                transition: all .25s;
                                &:hover{
                                    color: #FFFFFF;
                                    opacity: 1;
                                    border-top: 3px solid #FFA155;
                                }
                                span{
                                    margin-left: .8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        .section1-1{
            padding-top: 86px;
            .first-policy-content{
                display: flex;
                align-items: start;
                justify-content: center;
                gap: 600px;
                .first-policy-page{
                    .first-policy-page-img{
                        padding-bottom: 16px;
                    }
                    .first-policy-page-h2{
                        
                    }
                }
            }
        }
    }
    footer{
        margin-top: 9.6rem;
        width: 100%;
        height: 42rem;
        .footer-item{
            width: 130rem;
            height: 100%;
            margin: 0 auto;
            display: flex;
            .footer-item_left{
                width: 50%;
                height: 100%;
                position: relative;
                img{
                    position: absolute;
                    left: 0;
                    top:0;
                }
                h1{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 58px;
                    color: #232536;
                    margin-top: 5.5rem;
                }
                h3{
                    margin-top: 4rem;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 36px;
                    color: #232536;
                    margin-bottom: 3rem;
                }
                ul{
                    li{
                        margin-bottom: .5rem;
                        a{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 28px;
                            color: #232536;   
                        }
                        p{
                            border: 1px solid rgba(0, 0, 0, 0.08);
                            width: 26.8rem;
                        }
                        h5{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: #232536;
                            margin-top: 1.6rem;
                        }
                    }
                }
            }
            .footer-item_right{
                width: 50%;
                height: 100%;
                padding-top: 5.5rem;
                display: flex;
                gap: 6rem;
                padding-left: 10rem;
                position: relative;
                ul{
                    li{
                        margin-bottom: 1.2rem;
                        a{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 28px;
                            color: #232536;
                        }
                    }
                }
                span{
                    position: absolute;
                    bottom: 8%;
                    right: 0;
                    align-items: center;
                    display: flex;
                    gap: .8rem;
                    a{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: #232536;
                    }
                }
            }
        }
    }
    .footer-bottom{
    max-width:100%;
    height: 8rem;   
    background: #FFE6D2;  
    .footer-bottom_item{
        width: 130rem;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-bottom-left{
            display: flex;
            align-items: center;
            p{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;                
                color: #000000;
                margin-left: 4rem;
            }
        }
        .footer-bottom-right{
            display: flex;
            align-items: center;
            gap: 2.6rem;
        }
        }           
    }
}


// 